@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.woff2') format('woff2');
    font-display: swap;
  }
  
.container {
    @apply px-[45px] sm:px-[10px] md:px-[40px] lg:px-[100px] xl:px-[200px] mx-auto;
}

.imghome {
    @apply w-[247px] sm:w-[320px] md:w-[420px] lg:w-[480px] xl:w-[500px];
}

.imgabout {
    @apply w-[247px] sm:w-[300px] md:w-[400px] lg:w-[500px] xl:w-[600px];
}
